

// stage properties =================================
$stage-border-color: grey;



// base properties ==================================
$Left-padding: 20px;
$adBGcolor: rgb(0, 0, 0);
$leftColor: rgba($adBGcolor, 0.5);
$midColor: rgba($adBGcolor,0.1);
$rightColor: rgba($adBGcolor,0);


// image properties ==================================
$smallImage: "705x600.jpg";
$mediumImage: "975x600.jpg";
$largeImage: "1080x600.jpg";
$extraLargeImage: "1125x600.jpg";


// ad copy and CTA properties =========================
$semiBold: "Proxima N W02 Smbd";
$regular: "Proxima N W01 Reg";
$h1fontsize: 26px;
$h2fontsize: 18px;
$ctaCopyaize: 14px;
$gapBetween: 10px;


// breakpoint properties ===============================
$adHeight: 600px;
$adMaxWidth: 1125px;
$adMinWidth: 705px;
$adMediumWidth: 975px;
$adLargeWidth: 1080px;


// logo properties ======================================
$logoHeight: 40px;
$clientLogo: "logo.png";


// video controller properties =========================
$videoProgressBarVisibility: hidden;
$playerControl-pauseBtn: "pause-btn.png";
$playerControl-playBtn: "play-btn.png";
$playerControl-playBtnWidthHeight: 60px;